---
import { buttonVariants, type ButtonVariants } from "@/lib/ui/buttonVariants";
import { cn } from "@/lib/utils";

interface Props extends ButtonVariants {
  class?: string;
  href?: string;
  disabled?: boolean;
  target?: string;
  rel?: string;
  type?: "button" | "submit" | "reset";
}

const {
  variant,
  size,
  class: className,
  href,
  disabled = false,
  target,
  rel,
  type = "button",
} = Astro.props;

const classes = cn(buttonVariants({ variant, size }), className);
---

{
  href ? (
    <a href={href} class={classes} target={target} rel={rel}>
      <slot />
    </a>
  ) : (
    <button class={classes} disabled={disabled} type={type}>
      <slot />
    </button>
  )
}
